option_settings:
 - namespace: aws:elasticbeanstalk:container:nodejs
   option_name: NodeCommand
   value: npm start

commands:
 00-iptables:
  command: "service iptables stop"
  ignoreErrors: false  

 01-aliasnodejslog:
  command: "grep nlog /home/ec2-user/.bashrc || echo \"alias nlog='tail -f /var/log/nodejs/nodejs.log'\" >> /home/ec2-user/.bashrc"
  ignoreErrors: false

 02-aliasnodejslog:
  command: "grep nlog /root/.bashrc || echo \"alias nlog='tail -f /var/log/nodejs/nodejs.log'\" >> /root/.bashrc"
  ignoreErrors: false

 03-aliasnodejscolorlog:
  command: "grep cnl /home/ec2-user/.bashrc || echo \"alias cnl='tail -f /var/log/nodejs/nodejs.log|ccze -A'\" >> /home/ec2-user/.bashrc"
  ignoreErrors: false

 04-aliasnodejscolorlog:
  command: "grep cnl /root/.bashrc || echo \"alias cnl='tail -f /var/log/nodejs/nodejs.log|ccze -A'\" >> /root/.bashrc"
  ignoreErrors: false

 05-aliasnodejscolorlog:
  command: "grep cnnl /home/ec2-user/.bashrc || echo \"alias cnnl='tail -f /var/log/nginx/*.log|ccze -A'\" >> /home/ec2-user/.bashrc"
  ignoreErrors: false

 06-aliasnodejscolorlog:
  command: "grep cnnl /root/.bashrc || echo \"alias cnnl='tail -f /var/log/nginx/*.log|ccze -A'\" >> /root/.bashrc"
  ignoreErrors: false
