Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["ssh-deployed-keys"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  /etc/nginx/ssl/godssides.pem:
    mode: "000600"
    owner: nginx
    group: nginx
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/godssides-private/godssides.pem
  /etc/nginx/ssl/godssides-with-chain.crt:
    mode: "000600"
    owner: nginx
    group: nginx
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/godssides-private/godssides-with-chain.crt
