.header {
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    .nav-container {
        display: flex;
        align-items: center;
        color: #868686;
        font-size: 18px;
        .nav-item {
            padding: 5px;
            margin: 0 15px;
            cursor: pointer;
        }
        .active-nav {
            color : #5b9dfb
        }
    }
}